

.container {

}

.card-container {

}

.card {
    position: relative;
    background-color: #121212;
    transition: transform 0.3s ease-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
}