<app-navbar />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<br><br>
<div class="container">
    <div class="card-container">
        <div class="row">

            @for (source of sources; track $index) {

                <div class="col s6 m4 l4">
                    <div class="card" [routerLink]="['/video', source.title]">
                        <div class="card-image">
                            <img [src]="source.img">
                        </div>
                        <div id="nbEpisodes">{{ source.nbEpisodes }} épisode{{source.nbEpisodes > 0 ? 's' : ''}}</div>
                        <div class="center">
                            <span class="card-title">{{source.title | formTitle }}</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>