<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<div class="container">
    <div class="register-container">
        <h2>Créer un compte</h2>
    
        <!-- Afficher un message de succès ou d'erreur -->
        @if (message) {
            <div class="message" [ngClass]="{ 'success': !isLoading, 'error': isLoading }">
                {{ message }}
            </div>
        }
        
    
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label id="usernameLabel" for="username">Nom d'utilisateur</label>
            <input
            autocomplete="username"
            (focus)="activateLabel('usernameLabel')" (blur)="desactivateLabel($event, 'usernameLabel')"
            id="username"
            formControlName="username"
            type="text"
            class="form-control"
            [ngClass]="{ 'is-invalid': registerForm.get('username')?.invalid && registerForm.get('username')?.touched }"
            />
            @if(registerForm.get('username')?.invalid && registerForm.get('username')?.touched) {
                <div class="invalid-feedback">
                    @if (registerForm.get('username')?.hasError('required')) {
                        <div>Le nom d'utilisateur est requis.</div>
                    }
                    @if (registerForm.get('username')?.hasError('minlength')) {
                        <div>Le nom d'utilisateur doit faire au moins 3 caractères.</div>
                    }
                </div>
            }
            
        </div>
    
        <div class="form-group">
            <label id="passwordLabel" for="password">Mot de passe</label>
            <input
            autocomplete="new-password"
            (focus)="activateLabel('passwordLabel')" (blur)="desactivateLabel($event, 'passwordLabel')"
            id="password"
            formControlName="password"
            type="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched }"
            />
            @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
                <div class="invalid-feedback">
                    @if (registerForm.get('password')?.hasError('required')){
                        <div>Le mot de passe est requis.</div>
                    }
                    @if (registerForm.get('password')?.hasError('minlength')){
                        <div>Le mot de passe doit faire au moins 6 caractères.</div>
                    }
                </div>
            }
            
        </div>
        <div class="center">
            <button type="submit" [disabled]="isLoading">
                {{ isLoading ? 'Chargement...' : 'S\'inscrire' }}
            </button>
        </div>
            
        </form>

        <div>
            <p class="register-link">
                Vous avez déjà un compte ?
                <a routerLink="/login">Se connecter</a>
            </p>
        </div>
    </div>
</div>